.span{
    display: grid;
    grid-template-columns: 15% 75%;
}
.p{
    padding: 6px 0px 7px 2.5em; 
    margin-top: 32px;
    text-align: left;
}
/* .fullWidth{
    width: 40px;
} */

.buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 6em;
}